.page1 {
    height: 30px;
    width: 100%;
    background-color:white; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.nav {
    background-color: #bb2b4f;
    display: flex;
   justify-content: space-between;
    height: 6vw;
   align-items: center;
    width: 100%;
    
}
.nav-part1 {
    display: flex;
    align-items: flex-start;
    width: 101.2%;
    height: 4vw;
    background-color: rgb(203, 95, 56);
   border-radius: 0%;
    gap: 0vw;
    position: relative;
}
.H4 {
    color:rgb(234, 228, 228);
    margin-left: 20px;
    margin-top: 10px;
}
.nav-part1 H4{
    padding: 10px 20px ;
    border: 2px solid #0d0b0b;
    border-radius: 50px;
    font-weight: 500;
    color: black;
    position: relative;
    font-size: 14px; 
    transition: all ease 0.4s; 
    overflow: hidden;
}
.nav-part1 H4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
    min-inline-size: normal;
}
.nav-part1 H4:hover::after{
    bottom: 0;
    border-radius: 0%;
}
.nav-part1 H4 a {
    text-decoration: none;
    color: rgb(234, 228, 228);
    z-index: 9;
    position: relative;
}
.nav-part1 H4:hover a{
    color:rgb(234, 228, 228);
}

.nav-part2 {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 3vw;
    background-color: rgba(0, 0, 0, 0.889);
     z-index: 5000;
     position: sticky;
    gap: 2.8vw;
}
.nav-part2 h4{
padding: 0px 20px ;
font-weight: 500;
color: white;
position: relative;
font-size: 40px;
 }
 .h4 {
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

.imp :hover {
    transition: all ease 1s; 
  
    height: 40vh;
}
.imp h4:hover {
    /*transition: all ease 0.65s; */
   height: 0px;
    /*height: 50vh;*/
}

.imp h5 :hover {
   height: 0px;
  
}

.nav-part2 h5 span {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: 10px; 
    padding-left: -20px;
}

.nav-part2 .H5  {
    color: white;
    margin-left: 10px;
    margin-top: 10px; 
    padding-left: -20px;
}



.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
    position: absolute;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}
.nav-part2 h5 {
    margin-bottom: 1vw;
   /* display: inline-flex; */
    overflow:initial; 
    margin-left: 10px;
    
}
.nav-part2 h5 span {
    font-size: o.77vw;
    font-weight: 400;
    display: inline-block; 
}
.nav-element {
    /*   background-color: red; */
    
       transition: all ease 0.6s; 
       
       justify-content: space-between;  
      
    }
   .page1-left{
   padding-top: 50px;
   width: 10px;
   position: relative;
   align-items: center;
   }
   .social-media {
     margin-top: 70px;
   
    float: right;
    gap: 1vw; 
    
}

.social-media a img:hover {
    transform:scale(1.3) ;
    cursor: pointer;
}

   .page2{
    height: 145vh;
    width: 92%;
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
   }
   footer{
    width: 110%;
    background: linear-gradient(to right,#00093c, #2d0b00);
    color: #fff;
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 560px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.footer_logo{
    width: 80px;
    position: relative;
    top: -23px;
    left: -20px;
}
.footer_about{
    position: relative;
    top: -23px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.footer_email{
    width: fit-content;
    border-bottom: 1px solid #f66335;
    margin: 20px 0;
}
.col ul li{
    list-style: none;
    margin-bottom: 12px;
}
.col ul li a{
    text-decoration: none;
    color: #fff;
}
.col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f66335;
    margin-bottom: 50px;
}
.col form .icon{
    font-size: 18px;
    margin-right: 10px;
}
.col form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.col form button .icon_right{
    font-size: 16px;
    color: #ccc;
}
.col .social_icons .social_icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    background: #f66335;
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
footer .copyright{
    text-align: center;
}
.bottom_line{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.bottom_line span{
    width: 15px;
    height: 100%;
    background: #f66335;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moveline 2s linear infinite;
}
@keyframes moveline{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}
.container{
    height: 500px;
    margin-top: 70px;
    width :170%;
}
